{% extends 'app/base.html' %} 
{% load static%} 
{%block banner-slide %}
<section id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for banner in banners %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <div
        class="hero d-flex align-items-center"
        style="
          background: url('{{ banner.imageURL }}') center/cover no-repeat;
        "
      >
        <div class="hero-overlay"></div>
        <div class="container">
          <div class="hero-content">
            <h2>{{ banner.title|default:"" }}</h2>
            <h1 class="fw-bold">{{ banner.subtitle|default:"" }}</h1>
            <p>{{ banner.description|default:"" }}</p>
            <a href="{{ banner.button_link|default:'#' }}" class="btn btn-light">{{ banner.button_text|default:'Xem chi tiết' }}</a>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <!-- Fallback nếu chưa có banner nào được thêm trong Database -->
    <div class="carousel-item active">
      <div
        class="hero d-flex align-items-center"
        style="
          background: url(&quot;https://images.unsplash.com/photo-1505691938895-1758d7feb511&quot;) center/cover no-repeat;
        "
      >
        <div class="hero-overlay"></div>
        <div class="container">
          <div class="hero-content">
            <h2>Nội Thất MOHO Chuẩn CARB-P2</h2>
            <h1 class="fw-bold">Cho Không Gian Sống An Toàn</h1>
            <p>Vui lòng vào trang Admin để thêm Banner</p>
            <a href="#" class="btn btn-light">Xem chi tiết</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#heroCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#heroCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
  </button>
</section>
{%endblock banner-slide%} {% block main-content %} {% comment %}
<div class="row">
  <div class="col-lg-4">
    <img src="{%static 'app/images/cow-ghee.png'%}" class="thumbnail" alt="" />
    <div class="box-element product">
      <h6><strong>Sữa bò</strong></h6>
      <hr />
      <button class="btn btn-outline-secondary add-btn">
        Thêm vào giỏ hàng
      </button>
      <a href="#" class="btn btn-outline-success">Xem</a>
      <h4 style="display: inline-block; float: right">
        <strong>200.000 VND</strong>
      </h4>
    </div>
  </div>
  <div class="col-lg-4">
    <img src="{%static 'app/images/cow-milk.png'%}" class="thumbnail" alt="" />
    <div class="box-element product">
      <h6><strong>Sữa bò 1</strong></h6>
      <hr />
      <button class="btn btn-outline-secondary add-btn">
        Thêm vào giỏ hàng
      </button>
      <a href="#" class="btn btn-outline-success">Xem</a>
      <h4 style="display: inline-block; float: right">
        <strong>200.000 VND</strong>
      </h4>
    </div>
  </div>
  <div class="col-lg-4">
    <img
      src="{%static 'app/images/curd-premium.png'%}"
      class="thumbnail"
      alt=""
    />
    <div class="box-element product">
      <h6><strong>Sữa bò 2</strong></h6>
      <hr />
      <button class="btn btn-outline-secondary add-btn">
        Thêm vào giỏ hàng
      </button>
      <a href="#" class="btn btn-outline-success">Xem</a>
      <h4 style="display: inline-block; float: right">
        <strong>200.000 VND</strong>
      </h4>
    </div>
  </div>
</div>
{% endcomment %}

<section class="py-5 product-section">
  <div class="container">
    <div class="d-flex justify-content-between mb-4">
      <h3>Giá siêu tốt</h3>
      <a href="{%url 'all_product' %}">Xem thêm</a>
    </div>

    <div class="swiper productSwiper">
      <div class="swiper-wrapper">
        {% comment %} Đây là 1 sản phẩm {% endcomment %} 
        {% for featured_product in featured_products %}
        <div class="swiper-slide" style="width: 260px">
          <div class="card product-card position-relative">
            <span class="badge bg-danger discount-badge"
              >{% if featured_product.discount_percentage > 0 %}-{{ featured_product.discount_percentage }}%{% endif %}</span
            >
            <div class="img-wrap">
              <a href="{% if featured_product.slug %}{% url 'detail' featured_product.slug %}{% else %}#{% endif %}"
                ><img
                  src="{{ featured_product.imageURL }}"
                  class="card-img-top first-img" />
                <img
                  src="{{ featured_product.hover_imageURL }}"
                  class="card-img-top second-img"
              /></a>
            </div>
            <div class="card-body d-flex flex-column">
              <h6 title="{{featured_product.name}}">
                <a style="text-decoration: none; color: #000;" href="{% if featured_product.slug %}{% url 'detail' featured_product.slug %}{% else %}#{% endif %}">
                  {{featured_product.short_name}}
                </a>
              </h6>
              <div class="mb-3">
                <span class="text-danger fw-bold fs-5"
                  >{{featured_product.format_price}}</span
                >
                <div class="text-muted small text-decoration-line-through">
                  {{featured_product.format_old_price}}
                </div>
              </div>
              <div class="mt-auto d-flex gap-2">
                {%if featured_product.quantity > 0 %}
                <button
                  class="btn btn-outline-dark btn-sm flex-fill fw-bold add-btn update-cart"
                  style="border-radius: 8px; font-size: 12px"
                  data-product={{ featured_product.id }}
                  data-action ="add"
                >
                  <i class="fas fa-cart-plus"></i> Thêm giỏ
                </button>
                {%else%}
                <button
                  class="btn btn-outline-dark btn-sm flex-fill fw-bold add-btn update-cart"
                  style="border-radius: 8px; font-size: 12px"
                >
                  <i class="fas fa-cart-plus"></i> Liên hệ
                </button>
                {%endif%}
                <a
                  href="{% if featured_product.slug %}{% url 'detail' featured_product.slug %}{% else %}#{% endif %}"
                  class="btn btn-sm flex-fill fw-bold text-white shadow-sm"
                  style="
                    border-radius: 8px;
                    background-color: #f26522;
                    border: none;
                    font-size: 13px;
                    line-height: 24px;
                  "
                  >Xem chi tiết</a
                >
              </div>
            </div>
          </div>
        </div>
        {% endfor %} 
        {% comment %} Đây là hết 1 sản phẩm {% endcomment %}
      </div>

      <!-- arrows -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
<!-- Best Seller Section -->
<section class="py-5 ">
  <div class="container">
    <div class="d-flex justify-content-between mb-4">
      <h3>Bán chạy</h3>
      <a href="{%url 'all_product'%}">Xem thêm</a>
    </div>

    <div class="row g-4">
      {% for sale_product in sale_products %}
      <div class="col-md-3">
        <div class="card product-card position-relative">
          <span class="badge bg-danger discount-badge">{% if sale_product.discount_percentage > 0 %}-{{ sale_product.discount_percentage }}%{% endif %}</span>
          <div class="img-wrap">
            <a href="{% if sale_product.slug %}{% url 'detail' sale_product.slug %}{% else %}#{% endif %}">
              <img src="{{ sale_product.imageURL }}" class="first-img" />
              <img src="{{ sale_product.hover_imageURL }}" class="second-img" />
            </a>
          </div>
          <div class="card-body d-flex flex-column">
            <h6><a style="text-decoration: none; color: #000;" href="{% if sale_product.slug %}{% url 'detail' sale_product.slug %}{% else %}#{% endif %}"> {{ sale_product.short_name}}</a></h6>
            <div>
              <span class="text-danger fw-bold"
                >{{ sale_product.format_price}}</span
              >
              <div class="text-muted small text-decoration-line-through">
                {{ sale_product.format_old_price}}
              </div>
              <div class="d-flex justify-content-between small mt-1">
                <span class="text-muted"> Đã bán {{sale_product.sold_count}} sản phẩm</span>
              </div>
            </div>
            <div class="mt-auto d-flex gap-2">
              {%if sale_product.quantity > 0 %}
              <button
                class="btn btn-outline-dark btn-sm flex-fill fw-bold add-btn update-cart"
                style="border-radius: 8px; font-size: 12px"
                data-product={{ sale_product.id }}
                data-action ="add"
              >
                <i class="fas fa-cart-plus"></i> Thêm giỏ
              </button>
              {%else%}
              <button
                class="btn btn-outline-dark btn-sm flex-fill fw-bold add-btn update-cart"
                style="border-radius: 8px; font-size: 12px"
              >
                <i class="fas fa-cart-plus"></i> Liên hệ để đặt hàng
              </button>
              {%endif%}
              <a
                href="{% if sale_product.slug %}{% url 'detail' sale_product.slug %}{% else %}#{% endif %}"
                class="btn btn-sm flex-fill fw-bold text-white shadow-sm"
                style="
                  border-radius: 8px;
                  background-color: #f26522;
                  border: none;
                  font-size: 13px;
                  line-height: 24px;
                "
                >Xem chi tiết</a
              >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<br />
<br />
<br />
<br />
{% endblock main-content%}
